@media (max-width: 1300px) {
    .reviews-slider .slick-next {
        right: -30px;
    }

    .reviews-slider .slick-prev {
        left: -30px;
    }

    .reviews-info {
        height: 355px;
    }
}

@media (max-width: 1191px) {
    .header-contact {
        margin-left: 25px;
    }

    .advantages-items .slick-track {
        margin-bottom: 16px;
    }

    .advantages-item {
        background-color: initial;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .advantages-item-img {
        position: initial;
        margin: auto;
        width: 272px;
        height: 190px;
    }
    .advantages-item-descrt {
        display: block;
        margin: auto;
        width: 244px;
        height: 200px;
        padding: 16px 17px 0 13px;
        background-color: #fff;
    }
    .advantages-item {
        padding: 0;
    }
}

@media (max-width: 1050px) {
    .reviews-info {
        max-width: 368px;
        margin: 0 auto 20px;
        height: 235px;
    }

    .reviews-person {
        max-width: 435px;
        margin: auto;
    }

    .reviews-slider .slick-next {
        right: 190px;
        z-index: 2;
    }
    .reviews-slider .slick-prev {
        left: 190px;
        z-index: 2;
    }

    .works-items {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .works-item {
        margin-bottom: 20px;
    }

    .works-item:last-child {
        margin-bottom: 0;
    }

    .works-item:before {
        display: none;
    }

    .works-item p {
        font-size: 15px;
        line-height: 1.53;
        margin: auto;
    }

    .reviews-slider .slick-next {
        right: -18px;
    }

    .reviews-slider .slick-prev {
        left: -18px;
    }
}

@media (max-width: 991px) {
    .sect {
        padding-top: 68px;
        padding-bottom: 68px;
    }
    #header {
        padding-top: 25px;
    }

    #header.header-fix {
        position: absolute;
        padding-top: 25px;
        background-color: initial;
    }

    .header-contact {
        display: none;
    }

    .header-contact-mobile {
        display: block;
    }

    .header-wrapp {
        position: relative;
    }

    .header-menu-wrapp {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-start;
        -ms-align-items: center;
        align-items: center;
        z-index: 9998;
        background-image: url(../img/menu-bg.jpg);
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        transition-duration: .5s;
        li {
            display: block;
            margin-right: 0;
            margin-bottom: 26px;
            a {
                font-size: 18px;
                font-weight: 500;
            }
        }
    }

    .header-menu-wrapp.open-menu {
        left: 0;
        transition-duration: .5s;
    }

    .header-menu-wrapp.open-menu {

        li {
            a {
                font-size: 22px;
                font-weight: 500;
            }
        }

        .header-contact-mobile {
            a {
                font-size: 20px;
                font-weight: 500;
            }
        }
    }

    .header-menu {
        padding-left: 36px;
    }

    .header-contact-mobile {
        display: block;
        position: absolute;
        top: 23px;
        left: 70px;
        a {
            font-size: 16px;
            font-weight: 500;
            color: #fff;
        }
    }

    .header-contact-mobile:before {
        content: '';
        position: absolute;
        top: -5px;
        left: -35px;
        width: 25px;
        height: 25px;
        background-image: url(../img/phone.svg);
        background-repeat: no-repeat;
    }

    .header-contact {
        margin-left: 0;
    }

    .header-contact a {
        font-weight: 500;
    }

    .header-cross {
        display: block;
        position: absolute;
        top: 24px;
        right: 24px;
        width: 22px;
        height: 22px;
        background-image: url(../img/cross.svg);
        background-repeat: no-repeat;
    }

    .hamburger-wrapp {
        position: absolute;
        top: 15px;
        right: 25px;
    }

    .hamburger {
        position: fixed;
        display: inline-block;
        width: 23px;
        height: 22px;
        background-image: url(../img/hamburger.svg);
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .hamburger.hamburger-fix {
        background-image: url(../img/hamburger-black.svg);
    }

    .about-descr {
        margin-bottom: 38px;
    }

    .about-item {
        display: block;
        img {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .advantages-title {
        margin-bottom: 38px;
    }

    .about-item-descr {
        padding-left: 0;
    }

    .advantages-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 325px;
    }

    .advantages-item,
    .advantages-item:nth-child(even) {
        justify-content: center;
    }

    .advantages-item img {
        position: static;
        width: 100%;
    }

    .advantages-item-descr-wrapp {
        position: static;
        h3 {
            max-width: 465px;
            margin-bottom: 40px;
        }
    }

    .advantages-item-descr {
        margin-top: -110px;
        height: 30px;
        overflow: hidden;
    }

    .advantages-item-descr.opened {
        height: auto;
    }

    .advantages-item-descr-arrow {
        display: block;
        cursor: pointer;
        transition-duration: .5s;
    }

    .advantages-item-descr-arrow.transform {
        transform: rotate(270deg);
        transition-duration: .5s;
    }

    #reviews {
        padding-top: 68px;
        padding-bottom: 65px;
    }

    .reviews-title {
        margin-bottom: 65px;
    }

    .reviews-button {
        display: none;
    }

    .reviews-slider .slick-dots {
        position: static;
        margin-top: 25px;
    }

    #works {
        padding-top: 68px;
        padding-bottom: 68px;
    }

    #contacts {
        padding-top: 60px;
        padding-bottom: 69px;
    }

    .contacts-title {
        margin-bottom: 50px;
    }

    .popup-form-wrapp {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .reviews-arrow-next,
    .reviews-arrow-prev {
        display: none;
    }

    .contacts-input-two .moving_to {
        width: 44%;
    }
}

@media (max-width: 860px) {
    .home-from-wrapp,
    .home-to-wrapp {
        margin-right: 0;
    }

    .home-title span {
        display: none;
    }

    .home-form {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
    }

    .home-from-wrapp,
    .home-to-wrapp {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {

    .about-item {
        width: 272px;
    }

    .about-item-descr p {
        padding-top: 0;
        line-height: 1.5;
    }

    .about-item h3 {
        font-size: 18px;
        font-weight: 500;
    }

    .advantages-item {
        min-height: 245px;
    }

    .advantages-item-descr-wrapp {
        max-width: 300px;
        h3 {
            font-size: 20px;
            font-weight: 500;
        }
    }

    .advantages-item-descr {
        height: 45px;
        padding: 20px;
        margin-top: -85px;
    }

    .advantages-item-descr-arrow {
        top: 30px;
        right: 30px;
    }

    .advantages-item-descr-wrapp h3 {
        max-width: 215px;
    }

    .free-quote-wrapp {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    .free-quote-title {
        margin-bottom: 30px;
    }

    #free-quote {
        padding-top: 68px;
        padding-bottom: 68px;
    }

    .contacts-form-wrapp {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        margin-bottom: 24px;
    }

    .contacts-input-wrapp {
        margin: 0;
    }

    .contacts-input-two {
        display: none;
    }

    .contacts-input-one,
    {
        max-width: 96%;

        input {
            width: 100%;
        }
    }

    .contacts-input-phone:before,
    .contacts-input-mail:before {
        right: 0;
    }

    textarea {
        width: 96%;
    }

    .footer-wrapp {
        justify-content: space-around;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }

    .footer-info {
        text-align: center;
    }

    .footer-logo {
        margin-bottom: 20px;
        display: inline-block;
        order: 0;
    }

    .footer-phone {
        order: 1;
    }

    .footer-copyrights {
        order: 2;
        margin-bottom: 20px;
    }

    .footer-contact {
        text-align: center;
    }

    .popup-form-wrapp {
        width: auto;
        padding: 39px 96px 39px 96px;
    }

    .popup-title {
        font-size: 34px;
        margin-bottom: 38px;
    }

    .popup-succes {
        width: 310px;
        height: 132px;
        img {
            width: 50px;
            height: 50px;
        }
    }

    .popup-succes-descr h5 {
        font-size: 26px;
        font-weight: bold;
        line-height: 1.15;
        margin-bottom: 5px;
    }

    .popup-succes-descr p {
        font-size: 14px;
        width: 181px;
    }

    .popup-succes-cross {
        top: 7px;
        right: 7px;
        -webkit-background-size: cover;
        background-size: cover;
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 600px) {
    .wrapp {
        padding: 0 24px;
    }
    .logo a img {
        width: 163px;
    }

    .home-title h1 {
        width: 272px;
        font-size: 26px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 12px;
    }

    .home-form-descr {
        width: 272px;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
        margin-bottom: 18px;
    }

    .home-from-wrapp label,
    .home-to-wrapp label {
        margin-bottom: 10px;
    }

    .home-button {
        width: 126px;
    }

    .home-button-wrapp:before {
        right: 38px;
    }

    .home-form-wrapp {
        margin-bottom: 36px;
    }

    .home-contact span {
        line-height: 1.5;
        font-weight: normal;
    }

    .home-contact span a {
        display: block;
    }
    .home-from-wrapp {
        margin-bottom: 17px;
    }
    .home-to-wrapp {
        margin-bottom: 20px;
    }
    .home-button {
        background-position: 75px 11.5px;
    }
    .hamburger {
        top: 32px;
        right: 24px;
    }


    .hamburger-wrapp {
        position: fixed;
    }


    .about-title {
        margin-bottom: 15px;
        h3 {
            font-size: 26px;
        }
    }

    .about-title:before,
    .about-title:after,
    .advantages-title:before,
    .advantages-title:after,
    .reviews-title:before,
    .reviews-title:after,
    .works-title:before,
    .works-title:after,
    .contacts-title:before,
    .contacts-title:after,
    .popup-title:before,
    .popup-title:after {
        display: none;
    }

    .about-descr {
        margin-bottom: 38px;
    }

    .about-descr p {
        font-size: 14px;
        line-height: 1.71;
        padding-left: 24px;
        padding-right: 24px;
    }

    .about-items .slick-dots {
        position: static;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .advantages-title {
        margin-bottom: 38px;
        h3 {
            font-size: 24px;
        }
        p {
            font-size: 20px;
        }
    }

    .advantages-item-descrt h5 {
        font-size: 18px;
    }

    .advantages-item img {
        display: none;
    }

    .advantages-item-descr {
        min-height: 45px;
        margin-top: -85px;
    }

    .advantages-item-img {
        display: block;
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 0;
        width: 100%;
        min-height: 340px;
    }

    .advantages-item-img-one {
        background-image: url(../img/advantages/1-mob.jpg);
    }

    .advantages-item-img-two {
        background-image: url(../img/advantages/2-mob.jpg);
    }

    .advantages-item-img-three {
        background-image: url(../img/advantages/3-mob.jpg);
    }

    .advantages-item-img-four {
        background-image: url(../img/advantages/4-mob.jpg);
    }



    .spincrement-item {
        margin-bottom: 59px;
    }

    .reviews-title {
        margin-bottom: 34px;
        h3 {
            font-size: 24px;
        }
    }

    .reviews-slide-title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .reviews-slide-descr {
        margin-bottom: 20px;
    }

    .reviews-slide-person-name {
        font-size: 15px;
    }

    .reviews-info-title {
        font-size: 18px;
        font-weight: 500;
    }

    .reviews-info-descr {
        font-size: 14px;
    }

    .reviews-info {
        max-width: 272px;
        margin-bottom: 15px;
    }

    .reviews-person {
        max-width: 340px;
        height: 50px;
        p {
            font-size: 12px;
            color: #2c2023;
        }

        img {
            height: 52px;
        }
    }

    .reviews-button {
        display: none;
    }

    .works-title {
        width: auto;
        margin-bottom: 38px;
        text-align: center;
        h3 {
            font-size: 24px;
        }
    }

    .works-item {
        margin-bottom: 0;
    }

    .works-item img {
        margin-bottom: 30px;
    }

    .works-item h5 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .works-items .slick-list {
        margin-bottom: 25px;
    }

    .works-item p {
        font-size: 14px;
    }

    #free-quote {
        padding-top: 38px;
        padding-bottom: 38px;
    }

    .free-quote-title h5 {
        font-size: 24px;
        font-weight: bold;
    }

    .free-quote-button {
        font-size: 20px;
    }

    .slick-dots li {
        width: 9px;
        height: 9px;
    }

    .contacts-title {
        width: auto;
        text-align: center;
        margin-bottom: 26px;
    }

    .contacts-title h3,
    .popup-title {
        font-size: 20px;
    }

    .contacts-input-wrapp {
        width: 272px;
        margin: auto;
        input {
            width: 100%;
        }
    }

    .contacts-input-one {
        max-width: 100%;
        margin-left: -7px;
    }

    textarea {
        margin: auto;
        width: 272px;
    }

    .footer-logo a img {
        width: 165px;
    }

    .footer-phone,
    .footer-contact-addres {
        font-size: 14px;
        font-weight: 500;
    }

    .footer-copyrights {
        display: none;
        margin-top: 0;
    }

    .footer-contact {
        margin-bottom: 20px;
    }

    .copyrights-two {
        text-align: center;
        display: inline-block;
    }
}

@media (max-width: 576px) {
    .header-contact {
        display: none;
    }

    .logo {
        position: absolute;
        top: 0;
        left: 24px;
    }
}

@media (max-width: 481px) {
    .popup-form-wrapp {
        width: 100%;
        padding-left: 26px;
        padding-right: 26px;
    }
}

@media (max-width: 400px) {
    .advantages-item-descr-wrapp {
        max-width: 246px;
    }

    .advantages-item-descr-wrapp h3 {
        max-width: 175px;
    }
}

@media (max-width: 350px) {
    .home-from,
    .home-to {
        width: 255px;
    }

    .reviews-info {
        max-width: 240px;
        padding: 20px 15px 0 15px;
    }

    .reviews-person {
        max-width: 270px;
    }

    .contacts-input-wrapp {
        width: 260px;
    }

    input {
        font-size: 14px;
    }

    textarea {
        font-size: 14px;
        width: 260px;
    }

    #footer {
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media (max-height: 568px) {
    .home-title h1 {
        margin-top: 60px;
    }
}

@media (max-height: 533px) {
    #header {
        padding-top: 10px;
    }

    .hamburger {
        top: 22px;
    }
}

@media (max-height: 480px) {
    .home-from-wrapp,
    .home-to-wrapp,
    .home-form-wrapp,
    .home-title h1,
    .home-form-descr {
        margin-bottom: 10px;
    }

    #header,
    #header.header-fix {
        padding-top: 10px;
    }

    .hamburger {
        top: 22px;
    }
}